<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">

    <head>
        {{- partial "head.html" . -}}
    </head>

    <body>
        <div class="page">

            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>
            
            <section class="page__body">
                {{- block "main" . }}{{- end }}
            </section>
            
            {{if not .Params.social}}
                <section class="page__aside">
                    <div>
                        {{- block "aside" . }}{{- end }}
                    </div>
                </section>
            {{end}}

            <section class="page__about">
                <div>
                    {{- block "about" . }}{{- end }}
                </div>
            </section>


            <footer class="page__footer">
                {{- partial "footer.html" . -}}
            </footer>

        </div>
    </body>

</html>
