.post {
    margin-bottom: 40px;
}

.post__header::before {
    font-size: 21px !important;
    content: "> "
}

.post__header {
    font-size: 21px;
}

.post__link {
    color: var(--base09) !important;
    font-size: 21px !important;
}

.post__summary {
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 27px;
    font-style: italic;
}

.post__tags {
    margin-left: 25px;
}

.post__tag {
    border-radius: 8px;
    padding: 1px 6px;
    display: inline-block;
    color: var(--tag-fg);
    background-color: var(--tag-bg);
    font-size: 14px;
    margin-left: 5px;
}
